# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# -------------------------
# System / OS
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Logs & Outputs (GENERATED)
# -------------------------
results/
*.log

# -------------------------
# Data (LARGE FILES - DO NOT COMMIT)
# -------------------------
data/raw/


# -------------------------
# Temporary / Intermediate files
# -------------------------
*.out
*.tmp

# -------------------------
# Build files (C++ binaries)
# -------------------------
pipelines/mapreduce/q1/mapper
pipelines/mapreduce/q1/reducer
pipelines/mapreduce/q2/mapper
pipelines/mapreduce/q2/reducer
pipelines/mapreduce/q3/mapper
pipelines/mapreduce/q3/reducer

# -------------------------
# IDEs
# -------------------------
.vscode/
.idea/
